*{
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman';
}
body{
  background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("../img/2.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
}
header{
  width: 90%;
}
ul{
  float: right;
  list-style-type: none;
  margin-top: 35px;
}
ul li{
  display: inline-block;
}
ul li a{
  text-decoration: none;
  color: rgb(168, 11, 97);
  padding: 5px 20px;
  border: 1px solid transparent;
  transition: 0.6s ease;
}
ul li a:hover{
  background-color: blueviolet;
  color: #ffffff;
}
ul li.active a{
  background-color: blueviolet;
  color: #ffffff;
}
.simplon p{
  float: left;
  width: 150px;
  height: auto;
  margin: 35px;
  padding: 5px 20px;
  color: rgb(168, 11, 97);
}
.title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.title h1{
  color: rgb(168, 11, 97);
  font-size: 50px;
}
.button{
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.btn{
  border: 2px solid rgb(168, 11, 97);
  border-radius: 20px 20px 20px 20px;
  padding: 10px 30px;
  color: rgb(168, 11, 97);
  text-decoration: none;
  transition: 0.6s ease;
}
.btn:hover{
  background-color: blueviolet;
  color: #ffffff;
}
hr.one{
  position: relative;
  top: 35px;
  margin:53px ;
  width: 86%;
  border: none;
  height: 2px;
  background:rgb(168, 11, 97) ;
}

