body{
  background-image:/*linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),*/ url("../img/TD1.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  text-align: center;
}
header{
  margin-left: 30px;
  margin-right: 92px;
}
.one{
  /*position: relative;*/
  margin-bottom: 120px;
  width: 86.2%;
  border: none;
  height: 2px;
  background:rgb(255, 255, 255) ;
}
ul{
  float: right;
  list-style-type: none;
  margin-top: 35px;
}
ul li{
  display: inline-block;
}
ul li a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 5px 20px;
  border: 1px solid transparent;
  transition: 0.6s ease;
}
ul li a:hover{
  background-color: blueviolet;
  color: #ffffff;
}
ul li.active a{
  background-color: blueviolet;
  color: #ffffff;
}
.simplon p{
  float: left;
  width: 150px;
  height: auto;
  margin: 35px;
  padding: 5px 20px;
  color: rgb(255, 255, 255);
}
/*.title{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
}*/
.title h1{
  color: rgb(255, 255, 255);
  font-size: 50px;
  margin-bottom: 80px;
  /*text-align: center;*/
}
.btn{
  /*position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%,-50%);
  border: 2px solid rgb(168, 11, 97);
  border-radius: 20px 20px 20px 20px;
  padding: 10px 30px;
  color: rgb(168, 11, 97);
  text-decoration: none;
  transition: 0.6s ease;*/
  background-color: transparent;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 15px;
  border: 3px solid rgba(11, 168, 11, 0.473);
  border-radius: 20px 20px 20px 20px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: 0.6s ease;
  padding: 10px 30px;
  margin-top:60px ;

}

.btn:hover{
  background-color: blueviolet;
  color: #ffffff;
}

.container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.container img{
  overflow: auto;
}
.main h1{
  text-transform : uppercase;
}
.main h3{
  font-weight: lighter;
}
.main{
  color: #ffffff;
}
.two{
  border-color: rgb(255, 255, 255);
}
.main {
  margin-right: 120px;
  margin-left: 100px;
}
@media screen and (max-width : 768px){

}
